absl-py==0.10.0
astor==0.8.1
attrs==20.2.0
backcall==0.2.0
bleach==3.2.1
certifi==2020.6.20
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
entrypoints==0.3
gast==0.4.0
grpcio==1.14.1
h5py==2.8.0
importlib-metadata==2.0.0
imutils==0.5.4
ipykernel==5.3.4
ipython==7.16.1
ipython_genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab==0.34.9
jupyterlab-launcher==0.13.1
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
kiwisolver==1.2.0
Markdown==3.3
MarkupSafe==1.1.1
matplotlib==2.2.3
mistune==0.8.4
mkl-fft==1.0.6
mkl-random==1.0.1
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.6.0
numpy==1.19.5
olefile==0.46
packaging==20.4
pandas==1.1.5
pandocfilters==1.4.2
parso==0.7.0
pickleshare==0.7.5
Pillow==5.2.0
pip==21.2.2
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.13.0
Pygments==2.7.1
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.4.1
scikit-learn==0.19.1
scipy==1.1.0
Send2Trash==1.5.0
setuptools==50.3.0.post20201006
six==1.11.0
TBB==0.1
tensorboard==1.10.0
tensorflow==1.10.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
tornado==5.1.1
traitlets==4.3.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wheel==0.35.1
widgetsnbextension==3.5.1
wincertstore==0.2
zipp==3.3.0
